
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-2">


    </div>

    <div class="col-md-8">

      <h1>About</h1>
      <hr>

      
    </div>

    <div class="col-md-2">


    </div>
  </div>


</div>
