
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-2">


    </div>

    <div class="col-md-8">

      <h1>Chicago</h1>
      <hr>
      <ul>

      </ul>

    </div>

    <div class="col-md-2">


    </div>
  </div>


</div>
