<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fete</title>
  <link rel="stylesheet" href="styles/css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/js/app.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/css/style.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj9Fo9kRojTI2t6idLbLV7KE7FMEta0m4"></script>
  <script type="text/javascript" src="scripts/js/gmaps.js"></script>

  </head>

<header>

  <div class="col-md-12 header">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      </div>
      <div class="col-md-6">
        <div class="eq-spinner"><i /></div>
        <div class="logo-text">Fete Music</div>
      </div>
    </div>
  </div>
</header>

<body>
<!-- <div id='body-wrapper'> -->
<div class="menu">
  <div class="menu-items">
    <h1>About</h1>
    <h1>Search</h1>
    <h1>Home</h1>
    <h1>Map</h1>
    <h1>Contact</h1>
  </div>
</div>

<%= yield %>
<!-- </div> -->
</body>


<footer class="col-md-12 footer">
   <h1>&copy;fete</h1>
</footer>


</html>
