
<div class="col-md-12 login">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Register</p>
                <form action ="/users/register" method="post" class="login">
                <input type="text" name="full_name" placeholder="Full Name" />
                <input type="text" name="email"placeholder="Email" />
                <input type="text" name="username" placeholder="User Name" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Register" class="btn btn-success btn-sm" />

                    </div>
                </div>
                </form>
            </div>
        </div>
